<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>

    header {
      background-color: #042541;
      color: #FFFFFF;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
      transition: top 0.3s;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      margin-right: 20px;
      text-decoration: none;
      color: inherit;
    }

    .nav-left,
    .nav-right {
      display: flex;
      align-items: center;
    }

    .nav-left {
      margin-left: 110px;
    }

    .nav-right {
      margin-right: 110px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      height: 40px;
    }

    nav ul li {
      margin-right: 20px;
    }

    nav ul li:last-child {
      margin-left: 10px;
    }

    a {
      color: #FFFFFF;
      text-decoration: none;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-films {
      position: relative;
    }

    .dropdown-content,
    .dropdown-content-films {
      border-radius: 3px;
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      z-index: 1;
    }

    .dropdown-content a,
    .dropdown-content-films a {
      color: #666666;
      padding: 4px 12px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover,
    .dropdown-content-films a:hover {
      background-color: #042541;
      color: #FFFFFF;
    }

    .dropdown-content a:last-child,
    .dropdown-content-films a:last-child {
      margin-bottom: 8px;
    }

    .dropdown-content a:first-child,
    .dropdown-content-films a:first-child {
      margin-top: 8px;
    }

    .active-tab {
      background-color: #042541;
      color: #FFFFFF;
    }

    button {
      background-color: transparent;
      border: none;
      color: #FFFFFF;
      cursor: pointer;
    }

    #search-form-container {
      background-color: #FFFFFF;
      display: none;
      position: fixed;
      top: 64px;
      width: 100%;
      text-align: center;
      z-index: 999;
    }

    #search-form {
      display: inline-flex;
      align-items: center;
      padding: 8px;
      width: 90%;
      border: none;
    }

    #search-form input {
      flex: 1;
      padding: 4px;
      outline: none;
      border: none;
      margin-left: 10px;
      font-style: italic;
    }

    #search-icon {
      cursor: pointer;
      position: relative;
      font-size: 15px;
    }

    #close-search {
      cursor: pointer;
      position: relative;
      font-size: 24px;
    }

    .show {
      display: block;
    }

    .show-films {
      display: block;
    }

    .dropdown-films:hover .dropdown-content-films {
      display: block;
    }

  </style>
</head>
<body>

<header>
  <div class="nav-left">
    <a class="logo" href="/">MovieDB</a>
    <ul>
      <li class="dropdown-films" id="films-tab">
        <a href="#" class="tab">Filmler</a>
        <div class="dropdown-content-films">
          <a href="#" class="tab">Popüler</a>
          <a href="#" class="tab">Gösterimdekiler</a>
          <a href="#" class="tab">Yakında</a>
          <a href="#" class="tab">En fazla oy alanlar</a>
        </div>
      </li>
    </ul>
  </div>
  <nav class="nav-right">
    <ul>
      
      <% if (!isLoggedIn) { %>
        <li><a href="/login">Giriş</a></li>
        <li><a href="/signup">Kaydol</a></li>
      <% } else { %>
        <li class="dropdown" id="profile-tab">
          <a href="#" id="profile-link"><%= user.username %></a>
          <div class="dropdown-content" id="profile-content">
            <a href="/profile/<%= user.username %>" class="tab">Hesabım</a>
            <a href="/profile/<%= user.username %>/watchlist" class="tab">İzleme Listem</a>
            <a href="/profile/<%= user.username %>/favorites" class="tab">Beğendiklerim</a>
            <a href="#" class="tab">Ayarlar</a>
            <a href="/logout" class="tab">Çıkış</a>
          </div>
        </li>
      <% } %>
        <li>
          <a id="search-icon"><i class="fas fa-search"></i></a>
          <a id="close-search" style="display: none"> <i class="fas fa-times"></i></a>
        </li>
    </ul>
  </nav>
</header>

<div id="search-form-container">
  <form id="search-form" action="/search" method="get">
    <i class="fas fa-search" style="color: #000000;"></i>
    <input type="text" name="query" placeholder="Film ara...">
  </form>
</div>

<script>

    document.getElementById('search-icon').addEventListener('click', function() {
    document.querySelector('#search-form input').value = '';
    document.getElementById('search-form-container').style.display = 'block';
    document.getElementById('search-icon').style.display = 'none';
    document.querySelector('#search-form input').focus();
    document.getElementById('close-search').style.display = 'inline';
  });

  document.getElementById('close-search').addEventListener('click', function() {
    document.getElementById('search-form-container').style.display = 'none';
    document.getElementById('close-search').style.display = 'none';
    document.getElementById('search-icon').style.display = 'inline';
  });

  document.getElementById('profile-link').addEventListener('click', function(e) {
    e.preventDefault();
    document.getElementById('profile-content').classList.toggle('show');
  });

  window.onclick = function(event) {
    if (!event.target.matches('#profile-link')) {
      var dropdowns = document.getElementsByClassName('dropdown-content');
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  var profileTabs = document.querySelectorAll('#profile-content .tab');

  profileTabs.forEach(function(tab) {
    tab.addEventListener('mouseover', function() {
      profileTabs.forEach(function(tab) {
        tab.classList.remove('active-tab');
      });
      this.classList.add('active-tab');
    });
  });

  document.getElementById('profile-tab').addEventListener('mouseout', function() {
    profileTabs.forEach(function(tab) {
      tab.classList.remove('active-tab');
    });
  });
</script>

</body>
</html>
